.hero-container {
  display: flex;
  justify-content: space-around;
  padding: 60px 30px;
}

.user-form {
  width: 40%;
}

.data-table {
  width: 50%;
  overflow-y: scroll;
  height: 60vh;
  
}
::-webkit-scrollbar {
    width: 4px;
}

